body {
    background-color: rgba(20, 20, 20, 0.075);
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.89);
}

a {
    text-decoration: none;
    color: unset;
}

.linkTo img {
    width: 220px;
    height: 320px;
}

.hidden {
    display: none;
}

.review-list {
    max-height: 200px;
    width: 100%;
    overflow: auto;
}

.title-page {
    display: flex;
    align-items: center;
    margin: auto;
    /* align-self: center; */
    margin: 0;
    padding: 1%;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    pointer-events: none;
    user-select: none;
}

.open-menu {
    text-align: center;
    color: rgb(126, 71, 255);
    font-size: 3em;
}

.logo-img {
    display: flex;
    align-items: center;
    width: 40px;
}

.nav-container {
    background-color: rgba(123, 121, 253, 0.849);
    width: 200px;
    list-style: none;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.navBar {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nav-container li {
    font-size: 1em;
    border: 1px solid white;
    /* padding: 10px; */
    cursor: pointer;
}

.nav-container li:hover {
    background-color: white;
    color: black;
}

.nav-container button {
    background-color: rgba(255, 255, 255, 0.651);
    color: rgb(0, 0, 0);
    margin-left: 20px;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
    border-radius: 50%;
}

.nav-container button:hover {
    background-color: rgba(0, 0, 0, 0.651);
    color: rgba(255, 255, 255, 0.651);
}

.nav-container li:first-child {
    border-left: none;
}

.title-page span {
    color: rgba(152, 151, 255, 0.849);
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.add-book-btn {
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(58, 58, 58, 0.629);
    border-radius: 10px;
    padding: .5%;
}

.add-book-btn:hover {
    background-color: rgba(102, 102, 102, 0.629);
}

.main-search-book {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 2%;
}

.search-input {
    margin-left: 1%;
    font-size: .9em;
    width: 20%;
    border: none;
    border-radius: 10px;
    padding: .3%;
}

.searches {
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 640px;
    background-color: rgba(35, 35, 35, 0.729);
    border-radius: 20px;
    text-align: left;
}

.single-search {
    cursor: pointer;
    display: flex;
    padding: .7%;
    justify-content: space-between;
}

.single-search:hover {
    background-color: rgba(176, 190, 255, 0.341);
    border-radius: 20px;
}

.container {
    text-align: center;
    max-width: 1060px;
}

.book-list {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    grid-gap: 30px;
}

.book-preview {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: auto;
    width: 1fr;
    background-color: rgb(36, 36, 36);
    box-shadow: inset 0px -3px 4px rgba(87, 87, 87, 0.629);
    border-radius: 20px;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
    transition: background-color .5s;
}

.book-preview:hover {
    background-color: rgb(65, 65, 65);
}

.book-preview img {
    border: 2px solid rgba(176, 191, 255, 0.367);
}

.book-title {
    color: rgba(176, 191, 255, 0.767);
    font-size: 1.2em;
    text-transform: uppercase;
}

.book-preview .pricing {
    padding-bottom: 5%;
    padding-top: 5%;
}

.book-preview .pricing span:first-child {
    font-size: 1.4em;
    padding-left: 2%;
}

.book-detNrev {
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    text-align: center;
    font-size: 1.1em;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.review-toggle {
    position: absolute;
    margin-left: 40%;
    padding: 1%;
    cursor: pointer;
    background-color: rgba(70, 70, 70, 0.629);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.review-toggle:hover {
    background-color: rgba(110, 110, 110, 0.629);
}

.book-det {
    margin-top: 1%;
    margin-left: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: unset;
    max-width: 60%;
}

.hidden {
    display: none;
}

.review {
    width: 45%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    border-top-left-radius: 20px;
    background-color: rgb(49, 49, 49);
    ;
}

.review form {
    display: flex;
    flex-direction: column;
}

.save-btn {
    color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    margin-top: 3%;
    padding: 1%;
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
}

.save-btn:hover {
    background-color: rgb(100, 100, 100);
}

.book-det div:last-child {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: unset;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    text-align: center;
    font-size: 1.1em;
}

.book-det .book-title {
    font-size: 3em;
    margin-bottom: unset;
}

.book-det img {
    padding-bottom: 3%;
}

.sub-title {
    color: rgba(176, 191, 255, 0.767);
    font-size: 1.2em;
    margin-bottom: 1%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.sell {
    font-size: 1.3em;
    color: rgb(255, 187, 60);
}

.filter-win {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(211, 211, 211);
}

.filter-win label {
    margin-right: .5%;
}

.filter-win label:not(:first-child) {
    margin-left: 5%;
}

.desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.more-btn {
    margin-top: 2%;
    width: 10%;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: .8em;
    padding: 3px;
    cursor: pointer;
    box-shadow: inset 1px 2px 3px black;
}

.more-btn:hover {
    background-color: rgb(158, 158, 158);
}

.user-msg {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 3px solid #2ed573;
    border-radius: 10px;
}

.user-msg button {
    margin-left: 10px;
    float: right;
}