.emails-page {
    padding: 20px;
}

.Emails-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: auto;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.657);
}

.side-bar .mail-options {
    border-bottom: 1px solid white;
    width: 100%;
    padding: 15px;
    font-family: nanumgothic;
}

.mail-options:hover {
    width: 85%;
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.657);
}

.email-main {
    padding: 20px;
    background-color: lightgray;
}

.emails-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 700px;
}

.email-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(82, 82, 82, 0.116);
    background-color: white;
}

.emailLink article {
    width: 700px;
}

.emailLink article:hover {
    background-color: rgba(245, 77, 77, 0.123);
}

.email-preview h4,
h5,
h6 {
    font-family: nanumgothic;
}

.email-search {
    width: 300px;
    font-family: nanumgothic;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 30px;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.email-search::placeholder {
    color: rgb(0, 0, 0);
}

.mail-list {
    flex-direction: column;
    align-items: center;
}

.email-from {
    margin: auto;
    padding: 10px;
    text-align: left;
}

.email-star {
    border: none;
    text-align: center;
    /* padding: 10px; */
    /* text-align: left; */
    font-size: 1.5em;
    background-color: rgba(255, 0, 0, 0.657);
    border-bottom: 1px solid white;
    border: 12px;
}

.yellow {
    color: rgb(255, 226, 60);
}

.email-subject {
    margin: auto;
    padding: 10px;
    min-width: 100px;
    text-align: left;
}

.email-body {
    margin: auto;
    /* width: 200px; */
    padding: 10px;
    text-align: left;
}

.email-sent-at {
    margin: auto;
    padding: 10px;
    text-align: right;
}

.bold {
    font-weight: bold;
}

.compose {
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 0, 0, 0.438);
    padding: 10px;
    cursor: pointer;
}

.compose:hover {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 0, 0, 0.335);
}

.line-container {
    display: flex;
    width: 100%;
}

.line-container:hover {
    background-color: rgba(255, 0, 0, 0.089);
}

.btn-mail img {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    padding: 10%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-right: 20px;
}

.btn-mail {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 229, 229);
    border-left: 1px solid black;
    padding-left: 10px;
}

.btn-mail img:hover {
    background-color: rgba(255, 0, 0, 0.657);
}

.new-mail {
    background-color: rgb(240, 240, 240);
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* padding: 10px; */
    box-shadow: 2px 2px 3px black;
}

.new-mail input {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.new-mail input::placeholder {
    font-size: 1.5em;
}

.new-mail textarea {
    margin-bottom: 20px;
    margin: 20px auto;
    min-height: 200px;
    text-align: left;
}

.send-btn {
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 25px;
    background-color: tomato;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 25%;
    margin: 10px auto;
}

.send-btn:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.657);
}

.read-btn {
    background-color: white;
    color: rgba(255, 0, 0, 0.513);
    padding: 10px;
    font-size: 1.2em;
    font-family: fantasy;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.read-btn:hover {
    background-color: red;
    color: white;
}

.email-details {
    background-color: rgba(144, 144, 144, 0.233);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 5px solid black;
    font-family: cursive;
    font-size: 1.5em;
    width: 600px;
    text-align: center;
    padding: 20px;
}

.email-details button {
    width: 50px;
    cursor: pointer;
}