.emails-page {
    padding: 20px;
}

.Emails-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: auto;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: auto;
    color: tomato;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 228, 228);
}

.side-bar .mail-options {
    border-bottom: 1px solid white;
    width: 100%;
    padding: 15px;
    font-family: nanumgothic;
}

.mail-options:hover {
    width: 85%;
    cursor: pointer;
    background-color: rgb(194, 194, 194);
}

.email-main {
    padding: 20px;
    background-color: tomato;
}

.emails-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.email-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(82, 82, 82, 0.116);
    background-color: white;
}

.emailLink article {
    width: 700px;
}

.emailLink article:hover {
    background-color: rgb(219, 219, 219);
}

.email-preview h4,
h5,
h6 {
    font-family: nanumgothic;
}

.email-search {
    width: 300px;
    font-family: nanumgothic;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 30px;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.email-search::placeholder {
    color: rgb(0, 0, 0);
}

.mail-list {
    flex-direction: column;
    align-items: center;
}

.email-from {
    margin: auto;
    padding: 10px;
    text-align: left;
}

.email-star {
    border: none;
    text-align: center;
    /* padding: 10px; */
    /* text-align: left; */
    font-size: 1.5em;
    background-color: rgb(255, 47, 47);
    border-bottom: 1px solid white;
    border: 12px;
}

.yellow {
    color: rgb(255, 226, 60);
}

.email-subject {
    margin: auto;
    padding: 10px;
    min-width: 100px;
    text-align: left;
}

.email-body {
    margin: auto;
    /* width: 200px; */
    padding: 10px;
    text-align: left;
}

.email-sent-at {
    margin: auto;
    padding: 10px;
    text-align: right;
}

.bold {
    font-weight: bold;
}

.compose {
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 25px;
    background-color: tomato;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.compose:hover {
    background-color: white;
    color: tomato;
}

.line-container {
    display: flex;
    width: 100%;
}

.btn-mail img {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    padding: 10%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-right: 20px;
}

.btn-mail {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 229, 229);
}

.btn-mail img:hover {
    background-color: rgba(128, 128, 128, 0.349);
}