.keep-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-add-keeps{
    font-family: Arial, Helvetica, sans-serif;
}
.main-keep{
    background-color: tomato;
}
.radio-type {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.radio-type label{
    cursor: pointer;
}

.btn-type{
    display: flex;
    align-items: center;
    padding: 1%;
    box-shadow: 0px 0px 1.5px black;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.input-cover{
    padding: 2%;
    font-size: 1.3em;
    max-width: 300px;
    border: 1px solid rgba(255, 84, 68, 0.301);
}

.btn-save{
    padding: 1%;
    border: none;
    font-weight: 600;
    background-color: transparent;
    box-shadow: 0px 0px 1.5px black;
    cursor: pointer;
    border-radius: 10px;
}

.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.input-txt{
    text-align: center;
    max-width: 600px;
    width: 50%;
    border: 1px solid rgba(255, 84, 68, 0.301);
}

.btn-save:hover{
    background-color: rgba(255, 84, 68, 0.801);
}

.btn-type:hover{
    background-color: rgba(255, 84, 68, 0.801);
}

.keep-card {
    border-radius: 10px;
    border: .5px solid rgba(0, 0, 0, 0.178);
    margin-top: 1.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 1.5% 0 1%;
    min-width: 230px;
    max-width: 350px;
}

.keep-card .tool-btn {
    background-color: rgb(248, 238, 253);
    box-shadow: inset -3px -3px 2px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    padding: 1%;
    cursor: pointer;
    width: 50px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.keep-card .tool-btn:hover {
    background-color: rgb(78, 78, 78);
}

.keep-card img {
    max-width: 250px;
    height: auto;
}

.keep-card .icon-tool {
    width: 50%;
}

.keep-card h1 {
    text-transform: uppercase;
    color: rgba(224, 224, 224, 0.87);
    text-shadow: 3px 3px 3px black;
    letter-spacing: 3px;
}

.keep-tools {
    margin-top: 3%;
    border-top: 3px solid rgba(255, 255, 255, 0.363);
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    padding-bottom: 5%;
}

.pin {
    position: relative;
    font-size: 1.5em;
    margin-left: 95%;
}
.note-date{
    display: block;
    font-size: .6em;
    overflow: hidden;
}
.todo-label{
    padding: .5%;
    cursor: pointer;
}
.todo:hover{
    cursor: pointer;
    background-color: rgba(248, 238, 253, 0.486);
}
.todo-done{
   text-decoration: line-through rgba(255, 0, 0, 0.541) 2.4px;
}
.moudle-edit{
    z-index: 9;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 1%;
    overflow: hidden;
    margin-top: 3%;
    margin-left: -10%;
    background-color: rgb(26, 26, 26);
    color: rgb(92, 92, 92);
    border: 2px solid rgba(255, 255, 255, 0.741);
}
.moudle-edit h4{
    margin: unset;
}

.moudle-edit .values{
    color: rgba(251, 35, 35, 0.849);
}
.edit-section{
    margin-top: 3%;
    margin-bottom: 2%;
}
.edit-section input{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    width: 50%;
}

.todos-edit{
    display: block;
}
.url-edit{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    width: 50%;
}

