.middle-line{
    animation: disapear .6s ;
    animation-fill-mode: forwards;
}
@keyframes disapear{
    25% {opacity: .75;}
    50% {opacity: .5;}
    75% {opacity: .25;}
    100% {opacity: 0;display:none;}
}
.up-line{
    animation: spin1 .4s ;
    animation-fill-mode: forwards; 
}
@keyframes spin1{
    100% {rotate: 40deg;transform: translateY(8px);transform: translateX(20px)}
}
.down-line{
    animation: spin2 .4s ;
    animation-fill-mode: forwards; 
}
@keyframes spin2{
    100% {rotate: -40deg;transform: translateY(-5px);transform: translateX(6px)}
}